<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Extracción de palabras</div>
                        </ng-container>
                        <div class="flex items-center">
                            <!-- <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"></mat-icon> -->
                            <div class="ml-1.5 leading-6 text-secondary" style="margin-bottom:45px;">El proceso de extracción se realizará de manera automatizada a partir de una cantidad de libros en formato PDF, desde la página de https://everythingcomputerscience.com.</div>
                            <button type="button" class="" style="padding: 10px 25px;
                            background: #0F172A;
                            color: white;
                            border-radius: 5px;
                            position: relative;top: 12px;"><i class="fa fa-cog" aria-hidden="true" style="font-size: 25px;"></i></button>
                        </div>
                        <div class="container-words" style="text-align: center;">
                            <div class="content-words" style="width: 100%; height: 300px; border:1px solid black; margin-bottom: 11px;">
    
                            </div>
                            <button type="button" class="" style="padding: 10px 25px;
                            background: #0F172A;
                            color: white;
                            border-radius: 5px;">Procesar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
