<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Extracción de palabras</div>
                        </ng-container>
                        <div class="flex items-center" style="margin-bottom: 10px;">
                            <!-- <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"></mat-icon> -->
                            <div class="ml-1.5 leading-6 text-secondary" style="width: 100%;">El proceso de extracción se realizará de manera automatizada a partir de una cantidad de libros en formato PDF.</div>
                            <button type="button" class="" style="padding: 10px 25px;
                            background: #0F172A;
                            color: white;
                            border-radius: 5px;
                            position: relative;"><i class="fa fa-cog" aria-hidden="true" style="font-size: 25px;"></i></button>
                        </div>
                        <div class="container-words" style="text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;">
                            <div class="spinner-border" style="position: absolute; width: 4rem; height: 4rem;" role="status" *ngIf="spinner">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="content-words" style="width: 100%; height: 300px; border:1px solid black; margin-bottom: 11px;overflow: scroll;
                            min-height: 63vh;">
                                <!-- <div class="words">
                                </div> -->
                            </div>                            
                        </div>
                        <div class="container-button-process-word text-center">
                            <button type="button" class="" style="padding: 10px 25px;
                            background: #0F172A;
                            color: white;
                            border-radius: 5px;" (click)="getWords()">Procesar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="modal-word" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ word }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>