<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                Extracción de palabras
                            </div>
                        </ng-container>
                        <div
                            class="flex items-center"
                            style="margin-bottom: 10px"                       
                         >
                           
                            <div
                                class="ml-1.5 leading-6 text-secondary"
                                style="width: 100%"
                            >
                                El proceso de extracción se realizará de manera
                                automatizada a partir de una cantidad de libros
                                en formato PDF.
                            </div>
                            <div class="containe-result-config-word">

                            </div>
                            <button
                                type="button"
                                class="btn btn-dark"
                                style="
                                    padding: 10px 25px;
                                    background: #0f172a;
                                    color: white;
                                    border-radius: 5px;
                                    position: relative;
                                "
                                (click)="openModelConfig()"
                            >
                                <i
                                    class="fa fa-cog"
                                    aria-hidden="true"
                                    style="font-size: 25px"
                                ></i>
                            </button>
                        </div>
                        <div
                            id="container-words-id"
                            class="container-words"
                            style="
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                            "
                        >
                        
                            <div
                                class="content-words"
                                style="
                                    width: 100%;
                                    height: 300px;
                                    border: 1px solid black;
                                    margin-bottom: 11px;
                                    overflow: scroll;
                                    min-height: 63vh;
                                "
                            >
                                <!-- <div class="words">
                                </div> -->
                            </div>
                        </div>
                        <div class="container-button-process-word text-center">
                            <button
                                type="button"
                                class="btn btn-dark"
                                style="
                                    padding: 10px 25px;
                                    background: #0f172a;
                                    color: white;
                                    border-radius: 5px;
                                "
                                (click)="getWords()"
                                [disabled]="isButtonDisabled"
                                #processButton
                            >
                                Procesar
                            </button>

                            <button
                                #saveButton
                                type="button"
                                class="btn btn-dark"
                                style="
                                    padding: 10px 25px;
                                    background: #0f172a;
                                    color: white;
                                    border-radius: 5px;
                                    margin-left: 23px;
                                    display: none;
                                "
                                (click)="saveWords()"
                            >
                                Guardar
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    id="modal-word"
    class="modal"
    tabindex="-1"
    role="dialog"
    data-backdrop="static"
    data-keyboard="false"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title text-uppercase"
                    id="exampleModalLongTitle"
                >
                    {{ this.word }}
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="CloseModel()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-descripcion text-justify">
                    <div class="container-english mb-3">
                        {{ this.descrpcion_english }}
                    </div>

                    <div class="container-spanish">
                        {{ this.descrpcion_spanish }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    (click)="CloseModel()"
                >
                    Cerrar
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div
    id="modal-config-word"
    class="modal"
    tabindex="-1"
    role="dialog"
    data-backdrop="static"
    data-keyboard="false"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header headerRegister">
                <h5 class="modal-title" id="titleModal">Configuración</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close" 
                    (click)="CloseModelConfig()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-6 selectEstado">
                            <label for="listBook">Categorías de libros</label>
                            <select
                                class="form-control"
                                id="listBook"
                                formControlName="selectBooks"
                                #selectBooksRef
                            >
                                <option selected>Selecciona una opción</option>
                                <option value="Todos" data-id="Todos">
                                   Todos
                                </option>
                                <option value="Algorithms & Datastructures" data-id="/CSBooks_PDFs.html">
                                    Algorithms & Datastructures
                                </option>
                                <option value="Software Architecture" data-id="books_pdfs/CSSoftware_Architecture.html">Software Architecture</option>
                                <option value="Compiler" data-id="books_pdfs/CSCompiler.html">Compiler</option>
                                <option value="Open Source" data-id="books_pdfs/CSSoftware_Architecture.html">Open Source</option>
                                <option value="Linux" data-id="books_pdfs/CSLinux.html">Linux</option>
                                <option value="Android" data-id="books_pdfs/CSAndroid.html">Android</option>
                                <option value="Java" data-id="books_pdfs/CSJava.html">Java</option>
                                <option value="iOS" data-id="books_pdfs/CSiOS.html">iOS</option>
                                <option value="C Programming" data-id="books_pdfs/CSC_Programming.html">C Programming</option>
                                <option value="Javascript" data-id="books_pdfs/CSJavascript.html">Javascript</option>
                                <option value="Math" data-id="books_pdfs/CSDataScienceML.html">Math</option>
                                <option value="Data Science / Machine Learning" data-id="books_pdfs/CSSoftware_Architecture.html">
                                    Data Science / Machine Learning
                                </option>
                            </select>
                            <div *ngIf="myForm.get('selectBooks').errors && myForm.get('selectBooks').touched">
                                <div *ngIf="myForm.get('selectBooks').errors.required" class="text-danger">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="numBooks">Número de libros</label>
                            <input
                                type="number"
                                class="form-control"
                                id="numBooks"
                                formControlName="numBooks"
                                min="0"
                                max="100"
                            />
                            <div *ngIf="myForm.get('numBooks').errors && myForm.get('numBooks').touched">
                                <div *ngIf="myForm.get('numBooks').errors.required" class="text-danger">
                                    Este campo es obligatorio.
                                </div>
                                <div *ngIf="myForm.get('numBooks').errors.max" class="text-danger">
                                    El valor máximo permitido es 100.
                                </div>
                                <div *ngIf="myForm.get('numBooks').errors.min" class="text-danger">
                                    El valor mínimo permitido es 0.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="numPages">Número de páginas</label>
                            <input
                                type="number"
                                class="form-control"
                                id="numPages"
                                formControlName="numPages"
                                min="0"
                                max="100"
                            />
                            <div *ngIf="myForm.get('numPages').errors && myForm.get('numPages').touched">
                                <div *ngIf="myForm.get('numPages').errors.required" class="text-danger">
                                    Este campo es obligatorio.
                                </div>
                                <div *ngIf="myForm.get(numPages).errors.max" class="text-danger">
                                    El valor máximo permitido es 100.
                                </div>
                                <div *ngIf="myForm.get(numPages).errors.min" class="text-danger">
                                    El valor mínimo permitido es 0.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="submit"
                            class="btn btn-dark"                   
                        >
                           {{ this.titulo_modal_btn }}
                        </button>
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            (click)="CloseModelConfig()"
                        >
                            Cerrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
