/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.no-show {
    display: contents !important;
}


.fuse-card-front, .fuse-card-back {
    border: 1px solid #cbd5e1 !important;
}

.fuse-card-success {
    border: 1px solid #43a547 !important;
}

.fuse-card-danger {
    border: 1px solid #f23a2f !important;
}
<<<<<<< HEAD

.img-logo-v2 {
    width: 5rem;
    max-width: unset;
}
=======
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
>>>>>>> 4e282d9c1f65ebd0453e114bfb640ec276262d32
